{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
<div class="container">
	<div class="text-left">
    <img alt="Bannière du site mediatekformation" src="{{ app.request.getBasePath()~'/banniere.jpg' }}" >
	</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	 <div class="collapse navbar-collapse" id="navbarSupportedContent w-100">
	     <ul class="navbar-nav mr-auto w-100">
	         <li class="nav-item">
                 <a class="nav-link" href="{{ path('admin.accueil') }}">Accueil</a>
	         </li>
	         <li class="nav-item">
	             <a class="nav-link" href="{{ path('admin.formations') }}">Formations</a>
	         </li>
	         <li class="nav-item">
	             <a class="nav-link" href="{{ path('admin.playlists') }}">Playlists</a>
	         </li>   
	         <li class="nav-item">
	             <a class="nav-link" href="{{ path('admin.categories') }}">Categories</a>
	         </li>
             <li class="nav-item ms-auto">
                <button class="btn btn-primary">
                    Se connecter
                </button>
            </li>                  
	     </ul>
	 </div>
	</nav>        
</div>
<div class="container m-auto">

  {% for label, flashes in app.session.flashbag.all %}
      {% for flash in flashes %}
          {% if ( label == 'success' ) %}
              <div class="alert alert-success alert-dismissible fade show">
                  {{ flash }}
              </div>
          {% elseif ( label == 'error' ) %}
              <div class="alert alert-danger alert-dismissible fade show">
                  {{ flash }}
              </div>
          {% endif %}
      {% endfor %}
  {% endfor %}

</div>

{% endblock %}

