{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt="Bannière du site" >
        </div>
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex w-100">
                    <li class="nav-item">

                        {% if controller_name|default == 'adminBackController' %}
                        <a class="nav-link" href="{{ path('admin.accueil') }}">Accueil</a>
                        {% else %}
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                        {% endif %}

                    </li>
                    <li class="nav-item">

                        {% if controller_name|default == 'adminBackController' %}
                        <a class="nav-link" href="{{ path('admin.formations') }}">Formations</a>
                        {% else %}
                        <a class="nav-link" href="{{ path('formations') }}">Formations</a>
                        {% endif %}

                    </li>
                    <li class="nav-item">
                        
                        {% if controller_name|default == 'adminBackController' %}
                        <a class="nav-link" href="{{ path('admin.playlists') }}">Playlists</a>
                        {% else %}
                        <a class="nav-link" href="{{ path('playlists') }}">Playlists</a>
                        {% endif %}

                    </li>  
                    {% if controller_name|default == 'adminBackController' %}
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{{ path('admin.categories') }}">Catégories</a>

                    </li>  
                        {% endif %}

                    <li class="nav-item ms-auto">
                        <button class="btn btn-primary">
                            Se connecter
                        </button>
                    </li>                  
                </ul>
            </div>
        </nav>        
    </div>

    
    <div class="container m-auto">
{% for label, flashes in app.flashes %}
    {% for flash in flashes %}
        {% if ( label == 'success' ) %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ flash }}
            </div>
        {% elseif ( label == 'error' or label == 'danger' ) %}
            <div class="alert alert-danger alert-dismissible fade show">
                {{ flash }}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
    </div>

{% endblock %}

{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><i>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </i></small></p>
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}