{% extends "basefront.html.twig" %}
{% block body %}

    <div class="container m-auto">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {% if ( label == 'success' ) %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {{ flash }}
                    </div>
                {% elseif ( label == 'error' ) %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ flash }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

    </div>

    <table class="table table-striped">
        <caption>Tableau des Categories</caption>
        <tbody>
                <tr class="align-middle">
                    <td colspan="3">
                        <form action="{{path('admin.nouvelle_categorie')}}" method="post" class="d-flex" onsubmit="return function(){nom = prompt('Nouveau nom');document.getElementById('nom_nouvelle_categorie').value = nom;return nom.length > 0;}()">
                            <input type="hidden" name="_token" value="{{ csrf_token('nouvelle_categorie') }}"/>
                            <input type="hidden" id="nom_nouvelle_categorie" name="nom_nouvelle_categorie" value=""/>
                            <button type="submit" class="btn btn-primary m-1 ms-auto">Nouvelle catégorie</button>
                        </form>
                    </td>
                </tr>            
            {% for categorie in categories %}
                <tr class="align-middle">
                    <td>
                        <h5 class="text-info ps-3">
                        {{ categorie.name }}                  
                        </h5>
                    </td>
                    {% if controller_name|default == 'adminBackController' %}
                        <td>
                            <div class="ms-auto d-flex flex-row justify-content-end mt-2">
                                <a href="" class="btn btn-secondary m-1">Modifier</a>
                                <form action="{{ path('admin.categories.suppr',{id:categorie.id}) }}" method="post" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la categorie {{ categorie.name }} ?')">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete_categorie_' ~ categorie.id) }}">
                                    <button type="submit" class="btn btn-danger m-1">Supprimer</button>
                                </form>
                            </div>                        
                        </td>
                    {% endif %}
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript" defer="defer">
        document.onload = function(){



        } 
    </script>
{% endblock %}