{% extends "adminbase.html.twig" %}
{% block body %}
<style type="text/css">
select option:checked {
  background-color: #3975ff !important;
  color: white!important;
}
</style>




{% if playlist is defined and playlist.id is defined %}
        <form action="{{ path('admin.playlists.suppr', {id:playlist.id}) }}" method="post" class="d-flex" style="flex-direction: column" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la playlist {{ playlist.name }} ?')">
            <a href="{{ path('admin.enregistrer_playlist', {id:playlist.id}) }}" class="btn btn-primary m-4 ms-auto">Enregistrer</a>
            <input type="hidden" name="_token" value="{{ csrf_token('delete_playlist_' ~ playlist.id) }}">
            <button type="submit" class="btn btn-danger m-4 mt-0 ms-auto">Supprimer</button>
    {% else %}
        <form action="{{ path('admin.enregistrer_playlist') }}" method="post" class="d-flex" style="flex-direction: column">
            <input type="hidden" name="_token" value="{{ csrf_token('nouvelle_playlist') }}">
            <button type="submit" class="btn btn-primary m-4 ms-auto">Enregistrer</button>
    {% endif %}

    <div class="row mt-3">


        <div class="col">

            <strong>Titre : </strong>
            <input type="text" class="form-control text-info mt-2" style="font-size: 1.5rem;" name="nom" value="{{ playlist.name|default('Nom') }}"/>
            <br /><br />

            <strong>Catégories : </strong>
            <div class="d-inline-block align-top ms-1 mt-2 d-flex">
                       
            {% if playlist.id is defined %}
                {% set selectedCategoryIds = categories|map(categories => categories.id) %}
                <select name="formation_categories[]" class="form-select" multiple>
                    {% for categorie in toutescategories %}
                        <option value="{{ categorie.name }}" 
                            {% if categorie.id in selectedCategoryIds %}selected{% endif %}>a
                            {{ categorie.name }}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                <select name="formation_categories[]" class="form-select" multiple>
                    {% for categorie in toutescategories %}
                        <option value="{{ categorie.name }}">{{ categorie.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}


            </div>


            <br /><br />


            <strong>Description :</strong><br /><br />
                <textarea rows="8" class="form-control" type="text" name="description">{{ playlist.description|default('Description')|nl2br }}</textarea>
            <br/><br/>
            <strong>Formations disponibles: {{ playlist.formations|default("")|length}}</strong>
            <br/><br/>
        </div>
        <div class="col">


            <!-- boucle sur l'affichage des formations -->
            {% for formation in playlistformations %}
                <div class="row mt-1">
                    <div class="col-md-auto">
                        {% if formation.miniature %}
                            <a href="{{ path('formations.showone', {id:formation.id}) }}">
                                <img src="{{ formation.miniature }}" alt="miniature de la formation">
                            </a>
                        {% endif %}  
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="{{ path('formations.showone', {id:formation.id}) }}" 
                           class="link-secondary text-decoration-none">
                            {{ formation.title }}
                        </a>          
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>

    </form>


{% endblock %}
{% block javascripts %}
    <script defer>
        document.onload = function(){
            document.querySelectorAll('option').forEach(option => {
                option.addEventListener('mousedown', function(e) {
                    e.preventDefault();
                    this.selected = !this.selected;
                });
            });
        }
    </script>
{% endblock %}
